PORT=8080
DB=./bin/db.sqlite
DB_BACKUP_DIR=./bin/backup

SESSION_SECRET=<session-secret>

CLIENT_ID=<your-client-id>
CLIENT_SECRET=<your-google-client-secret>
CLIENT_CALLBACK_URL=<your-callback-url>

SECURE=false
CERT_FILE=test
KEY_FILE=test

TAILWIND=<tailwind path>
LIBS_FROM_CDN=false
