package quotes

import "quotes/internal/ui"

templ home() {
	@ui.Base() {
		<a class="button" href="/auth/google" hx-disable>Sign in with Google</a>
	}
}

templ success(userId int) {
	@ui.Base() {
        <div>User {userId} signed in successfully</div>
	}
}
