package users

templ UserBadge(user *User) {
	if user == nil {
		<div class="buttons">
			<a class="button is-info" href="/auth/google">
				<strong>Log in</strong>
			</a>
		</div>
	} else {
		<div class="pr-4">
			<span>
				{ user.Name }
			</span>
		</div>
	}
}
